[Unit]
Description=SMART drive statistics collection

[Timer]
{% for time in smart_collection_times %}
OnCalendar=Sat *-*-* {{ time }}
{% endfor %}
RandomizedDelaySec={{ smart_collection_randomized_delay }}
Persistent=true

[Install]
WantedBy=timers.target